@import "main.css";


.navbar {
    background-color: rgb(62, 109, 196);
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .domain-name {
    font-size: large;
    font-weight: 600;
}

.nav-items {
    list-style: none;
}

.nav-items .nav-item:first-child {
    border-bottom: 2px solid var(--white);
}

.nav-items a {
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
}