{% extends "app/index.html" %}

{% block content %}
    <div class="info" id="info">
        No files will be saved in database
    </div>
    <div class="services" id="services">
        <a href="{% url 'image_to_pdf' %}" class="service-link" id="serviceLink">
            Image to PDF
        </a>
        <a href="{% url 'images_to_pdf' %}" class="service-link" id="serviceLink">
            Images to PDF
        </a>
        <a href="{% url 'doc_to_pdf' %}" class="service-link" id="serviceLink">
            Docx to PDF
        </a>
        <!-- <a href="#" class="service-link" id="serviceLink">
            PDF to Audio
        </a> -->
    </div>

{% endblock %}